html {
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #scene {
    margin-top: auto;
  }
}

#scene {
  height: auto !important;
}

#read-more {
  pointer-events: auto!important;
}

#read-more .btn {
  background: white!important;
  transition: 0.25s all ease-in-out;
}

#read-more .btn span {  
  color: black;
}

#read-more .btn:hover {
  background: black!important;
  border-color: black!important;
}

#read-more .btn:hover span {
  color: white;
}

@media screen and (min-width: 1178px) {
  #scene .planet-pic {
    top: -60%;
  }
}

#overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.925);
  transition: 1.125s all ease-in-out;
}

#content,
#nav * {
  opacity: 1;
  transition: 1s all ease-in-out;
}

#loading span {
  padding: 0 10px;
}