@media screen and (max-width: 1200px) {
  #scene {
    margin-top: auto;
  }
}

#scene {
  height: auto !important;
}

@media screen and (min-width: 1178px) {
  #scene .planet-pic {
    top: -60%;
  }
}