/* Solar System Styles */
html {
  overflow: hidden;
}

body {
  background-image: #000;
  background-blend-mode: multiply;
  background-size: cover;
}

h1 {
  font-size: 6rem;
}

span {
  color: white;
}

a {
  font-size: 16pt;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s all;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.btn:hover {
  border: 2px solid white;
  color: white;
}

.btn:hover span {
  padding: 5px;
  padding-right: 25px;
}

.btn span:after {
  color: #fff;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 12 %;
  right: -20px;
  font-size: 1.5rem;
  transition: 0.5s all;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.topic div.container {
  text-align: left !important;
  margin-left: 0;
  margin-right: auto;
  width: 50%;
  z-index: 1000;
}

@media (min-width: 992px) {
  .topic div.container {
    text-align: right !important;
    margin-left: auto;
    margin-right: 0;
    padding-right: 100px;
  }
}

li {
  list-style-type: none;
}

#scene {
  pointer-events: auto !important;
}

#bgpallarax {
  display: absolute;
  top: -3% !important;
  left: -3% !important;
  background-image: url(../assets/astronaut.jpg);
  background-blend-mode: unset;
  background-size: cover;
  min-width: 105%;
  min-height: 105%;
}

#overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.925);
  transition: 1.125s all ease-in-out;
}